<div class="alert info-latest-tweet">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	新しいツイートがあります。
	<a href="javascript: void 0;" class="btn btn-mini btn-info update">更新する</a>
</div>
