<div class="row-fluid">
	<div class="span8">
		<%= yield %>
	</div>
	<div class="span4">
		<div class="my-affix">
			<%= render partial: (defined?(profile) ? profile : "profile"), locals: {user: user} %>
		</div>
	</div>
</div>
