<% if @check_only and @latest_tweet_exists %>
$info = $("body.pages-index .info-area .info-latest-tweet");
if ($info.length == 0) {
	$info = $('<%= raw escape_javascript(render("info_latest_tweet").delete("\n")) %>');
	$info.find(".update").click(function() {
		id = $("body.pages-index .tweets .tweet").eq(0).data("tweetId")
		twimodoki.pages.getLatestTweets(id)
	});
	$("body.pages-index .info-area").append($info.hide());
}
$info.fadeIn();
// 監視を停止
twimodoki.pages.observeLatestTweets(false);
<% elsif @latest_tweet_exists %>
$info = $("body.pages-index .info-area .info-latest-tweet");
$info.hide();
$tweets = $("body.pages-index .tweets");
newTweetsHtml = '<%= raw escape_javascript(render(@new_tweets).delete("\n")) %>';
	<% if @new_tweets.length == 10 %>
newTweetsHtml += "<div class='tweet'>...</div>";
	<% end %>
$newTweets = $(newTweetsHtml);
twimodoki.setup($newTweets); // colorboxなどのセットアップ
$tweets.prepend($newTweets.hide());
$newTweets.fadeIn();
// 再度監視開始
twimodoki.pages.observeLatestTweets();
<% else %>
console.log("新しいツイートはありません");
<% end %>
