<div class="column-header">
  <h2>ついもどきに参加しました。</h2>
</div>
<p><%= notice %>さんはついもどきに参加されました。</p>
<p>ログインをクリックしてログインし、つぶやいて下さい。</p>
<div style="text-align: center; padding: 10px 0;">
	<%= link_to "Twimodokiにログイン", login_path, class: "btn btn-large" %>
</div>
