<% if @user %>
	<%= render layout: "two_column", locals: {user: @user, profile: "profile2"} do %>
	<h2><%=h @user.name %>さんのツイート</h2>
	<div class="tweets bordered-list">
		<%= render @tweets %>
		<%= paginate @tweets %>
	</div>
	<% end %>
<% else %>
<p>該当ユーザが存在しません。</p>
<% end %>

