// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages {
	
	h2 {
		font-size: 1.5em;
	}

	.tweet {
		padding: 10px;
		
		.name {
			display: inline;
			font-weight: bold;
		}
		
		.destroy {
			float: right;
			padding-right: 10px;
		}
	}

	.profile, .profile2 {
		background-color: #FCFCFF;
		border-radius: 10px;
		padding: 15px;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1) inset;
	}

	.profile {
		.name {
			font-size: 1.7em;
			line-height: 1;
			color: #88F;
		}
		
		hr {
			margin: 10px 0 20px;
		}
		
		a {
			display: block;
		}
		.num {
			font-size: 2em;
		}
	}
	
	.profile2 {
		.name {
			margin-bottom: 10px;
		}
		
		a {
			display: block;
		}
		
		a.tweet-num {
			margin: 10px 0 0;
			
			.num {
				float: right;
				background-color: #DDF;
				font-size: 0.9em;
				line-height: 1.5;
				border-radius: 1em;
				padding: 0 0.7em;
			}
		}
	}
	
	.tweets, .users {
		margin-bottom: 10px;
	}
	
	.user {
		padding: 10px;
		overflow: hidden;
		
		.name {
			margin-bottom: 5px;
			
			a {
				font-weight: bold;
			}
		}
		
		p {
			margin: 0;
		}
	}
	
	.bordered-list {
		> * {
			border-bottom: dashed 1px #CCF;
		}
		> :first-child {
			border-top: dashed 1px #CCF;
		}
	}
	
	.striped {
		> :nth-child(2n) {
			background-color: #FAFAFA;
		}
	}
	
}

@media (max-width: 767px) {
	body.pages {
		.profile, .profile2 {
			.span4 {
				float: left;
				width: 31.491712707182323%;
			}
			.row-fluid [class*="span"] {
				margin-left: 2.127659574468085%;
			}
			.row-fluid [class*="span"]:first-child {
				margin-left: 0;
			}
		}
	}
}



