// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.tweet-form {
	
	label.big {
		font-size: 1.4em;
	}
	
	.content-area {
		position: relative;
	}

	.select-photo {
		position: absolute;
		right: 12px;
		bottom: 2px;
		font-size: 20px;
		color: #ACACAC;
		opacity: 1;
		display: inline-block;
		padding: 0.2em 0.3em;
		
		cursor: pointer;
		
		&:hover {
			opacity: 0.5;
			text-decoration: none;
		}
		
		&.selected,
		&.selected2 {
			color: #F33;
		}
	}
	
	span.select-photo {
		input {
			display: none;
		}
	}
	
	input#tweet_photo {
		display: none;
	}
	.upload-photo,
	#tweet-form-take-a-photo {
		text-align: center;
		color: #333;
		line-height: 1.5;
		
		.default {
			cursor: pointer;
			border: 1px solid #666;
			padding: 80px 0;
			p {
				font-size: 40px;
				margin: 0;
			}
			small {
				font-size: 15px;
			}
			&:hover {
				background-color: #EEF;
			}
		}
	}
	.upload-photo {
		.selected {
			cursor: pointer;
			border: 1px solid #666;
			display: none;
			padding: 20px 0;
			img {
				max-height: 200px;
			}
		}
	}
	#tweet-form-take-a-photo {
		.loading {
			display: none;
			border: 1px solid #666;
			padding: 40px;
		}
		.taking {
			display: none;
			
			.video {
				margin-bottom: 10px;
				video {
					height: 275px;
					vertical-align: middle;
				}
			}
			
			.take, .retake, .cancel {
				display: inline-block;
				padding: 0.5em 1.3em;
				border-radius: 5em;
				margin: 0.3em 0.5em;
				border: solid 1px #BBB;
				color: #66A;
				cursor: pointer;
				background-color: #FFF;
				
				&:hover {
					background-color: #888;
					color: #FFF;
				}
			}
		}
	}	
	
}

.ie form.tweet-form {
	#tweet-form-upload-photo, span.select-photo {
		position: relative;
		overflow: hidden;
		input#tweet_photo {
			display: block;
			position: absolute;
			top: 0;
			padding: 20000px 0 0 20000px;
			background: transparent;
			opacity: 0;
		}
	}
}

.draganddrop form.tweet-form {
	.upload-photo {
		.default small {
			display: inline;
		}
	}
}

